@model CmsApplication.Models.sub_district

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sub_district</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sub_district_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sub_district_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.district.district_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.district.district_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sub_district_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
